In [2]:
import re
import pandas as pd
f = open("BRW Rich List 2017.txt", "r")#, encoding = "ISO-8859-1")
file = f.read()
f.close()

In [6]:
new = re.search("\n", file)
stuff = [m.start(0) for m in re.finditer("\n", file)]
nums = []
for i in stuff:
    try:
        type(int(file[i+1])) 
        x = x+1
        print(x)
        print((file[i+1], file[i+2], file[i+3]))
        nums.append(i)
    except:
        pass

202
('0', '1', ' ')
203
('0', '1', ' ')
204
('0', '2', ' ')
205
('0', '3', ' ')
206
('0', '5', ' ')
207
('0', '6', ' ')
208
('0', '7', ' ')
209
('0', '8', ' ')
210
('0', '9', ' ')
211
('1', '0', ' ')
212
('1', '2', ' ')
213
('1', '3', ' ')
214
('1', '4', ' ')
215
('1', '5', ' ')
216
('1', '6', ' ')
217
('1', '7', ' ')
218
('1', '8', ' ')
219
('1', '9', ' ')
220
('2', '0', ' ')
221
('2', '1', ' ')
222
('2', '2', ' ')
223
('2', '3', ' ')
224
('2', '4', ' ')
225
('3', '0', '.')
226
('2', '5', ' ')
227
('2', '6', ',')
228
('2', '8', ' ')
229
('2', '9', ' ')
230
('3', '0', ' ')
231
('3', '1', ' ')
232
('3', '2', ' ')
233
('3', '3', ',')
234
('3', '5', ' ')
235
('3', '6', ',')
236
('5', '0', ' ')
237
('3', '8', ' ')
238
('3', '9', ' ')
239
('4', '0', ' ')
240
('4', '1', ' ')
241
('5', '0', ' ')
242
('4', '2', ' ')
243
('4', '3', ' ')
244
('4', '5', ' ')
245
('4', '6', ' ')
246
('4', '7', ' ')
247
('4', '8', ' ')
248
('4', '9', ' ')
249
('5', '0', ' ')
250
('5', '1', ' ')
251
('5', '2', ' ')
252
('5', '3', ' ')
253
('5', '4', ' ')
254
('5', '5', ' ')
255
('5', '6', ' ')
256
('5', '7', ' ')
257
('5', '8', ' ')
258
('5', '9', ' ')
259
('6', '0', ' ')
260
('6', '1', ' ')
261
('6', '1', ' ')
262
('6', '2', ' ')
263
('6', '3', ' ')
264
('6', '4', ' ')
265
('6', '5', ' ')
266
('6', '6', ' ')
267
('6', '7', ' ')
268
('6', '8', ' ')
269
('6', '9', ' ')
270
('7', '0', ' ')
271
('7', '1', ' ')
272
('7', '2', ' ')
273
('7', '3', ' ')
274
('7', '4', ' ')
275
('7', '5', ' ')
276
('7', '6', ' ')
277
('7', '7', ' ')
278
('7', '8', ',')
279
('8', '0', ' ')
280
('8', '1', ' ')
281
('8', '2', ' ')
282
('8', '3', ' ')
283
('8', '4', ' ')
284
('2', '?', 'a')
285
('6', "'", ' ')
286
('8', '6', ' ')
287
('8', '6', ' ')
288
('8', '7', ' ')
289
('8', '8', ' ')
290
('8', '9', ' ')
291
('9', '0', ' ')
292
('0', ' ', ' ')
293
('9', '1', ',')
294
('9', '5', ' ')
295
('9', '6', ' ')
296
('9', '7', ' ')
297
('9', '8', ' ')
298
('9', '9', ' ')
299
('1', '0', '0')
300
('1', '0', '1')
301
('1', '0', '3')
302
('1', '0', '5')
303
('1', '0', '6')
304
('1', '5', ' ')
305
('1', '0', '8')
306
('2', '?', 'a')
307
('1', '0', '9')
308
('1', '0', '9')
309
('1', '1', '0')
310
('1', '1', '1')
311
('1', '1', '2')
312
('1', '\t', 'P')
313
('1', '1', '4')
314
('1', '1', '6')
315
('1', '1', '7')
316
('1', '1', '8')
317
('1', '1', '9')
318
('1', '2', '0')
319
('1', '2', '2')
320
('2', '8', '\n')
321
('2', '0', '1')
322
('0', '4', '0')
323
('1', '4', '4')
324
('2', '?', 'a')
325
('1', '2', '3')
326
('1', '2', '3')
327
('1', '2', '5')
328
('1', '2', '6')
329
('1', '2', '7')
330
('1', '2', '8')
331
('1', '2', '9')
332
('2', '6', ' ')
333
('1', '3', '0')
334
('1', '3', '1')
335
('1', '3', '2')
336
('1', '3', '3')
337
('2', '0', '0')
338
('1', '3', '4')
339
('1', '3', '5')
340
('1', '3', '6')
341
('1', '3', '7')
342
('1', '3', '8')
343
('1', '3', '9')
344
('1', '4', '0')
345
('4', '4', "'")
346
('1', '4', '2')
347
('1', '4', '2')
348
('1', '4', '3')
349
('1', '4', '4')
350
('1', '4', '7')
351
('1', '4', '8')
352
('1', '4', '9')
353
('1', '5', '1')
354
('1', '5', '4')
355
('1', '5', '5')
356
('1', '5', '6')
357
('1', '5', '7')
358
('1', '5', '8')
359
('1', '5', '9')
360
('1', '6', '0')
361
('1', '6', '2')
362
('1', '6', '4')
363
('1', '6', '5')
364
('1', '6', '8')
365
('1', '6', '9')
366
('1', '7', '0')
367
('1', '7', '1')
368
('1', '7', '2')
369
('1', '7', '3')
370
('1', '7', '4')
371
('1', '7', '5')
372
('1', '7', '6')
373
('1', '7', '7')
374
('1', '7', '8')
375
('1', '7', '9')
376
('1', '8', '0')
377
('1', '8', '1')
378
('1', '8', '1')
379
('1', '8', '2')
380
('1', '8', '3')
381
('1', '8', '5')
382
('1', '8', '6')
383
('1', '8', '7')
384
('1', '8', '9')
385
('1', '9', '0')
386
('1', '9', '2')
387
('1', '9', '3')
388
('1', '9', '4')
389
('1', '9', '5')
390
('1', '9', '6')
391
('1', '9', '7')
392
('1', '9', '8')
393
('1', '9', '9')
394
('2', '0', '0')

In [4]:
print(file[nums[3]:nums[4]])

IndexError: list index out of range

In [7]:
other = [m.start(0) for m in re.finditer("[0-9]", file)]
x = 1
between = []
for i in other:
    if len(str(x)) == 1:
        if i-1 in other and file[i-1] == "0" and (file[i-2] == "\n" or file[i-2] == " ") and (file[i+1] == " " or file[i+1] == ","):
                if file[i] == str(x):
                    print(file[i-1:i+100])
                    x = x+1
                    between.append(i)
    if len(str(x)) == 2:
        if (file[i-1] == "\n" or file[i-1] == " " or file[i-1] == ".") and i+1 in other and (file[i+2] == " " or file[i+2] == ",") and not file[i+3] == "b" and not file[i-2] == ":":
            if x!= 12 and file[i] == str(x)[0] and file[i+1] == str(x)[1]:
                print(file[i-1:i+100])
                x = x+1
                print(file[i+2])
                between.append(i)
                if file[i+2] == ",":
                    x = x+1
            if x == 12 and file[i] == str(x)[0] and file[i+1] == str(x)[1] and file[i+3] != "m":
                print(file[i-1:i+100])
                x = x+1
                print(file[i+2])
                between.append(i)
                if file[i+2] == ",":
                    x = x+1
    if len(str(x)) == 3:
        if (file[i-1].isspace() or file[i-1] == ".") and i+1 in other and i+2 in other and (file[i+3] == " " or file[i+3] == ","):
            if file[i] == str(x)[0] and file[i+1] == str(x)[1] and file[i+2] == str(x)[2]:
                print(file[i-1:i+100])
                x = x+1
                between.append(i)
                if file[i+3] == ",":
                    x = x+1

01 Anthony Pratt &family$12.60 billion2016: $10.35 BILLIONMANUFACTURINGAGE: 57, MELBOURNEPratt tops t
02 Harry Triguboff$11.45 billion2016: $10.62 BILLIONPROPERTYAGE: 84, SYDNEYTriguboff's Meriton proper
03 Gina Rinehart$10.41 billion2016: $6.06 BILLION RESOURCES, AGRICULTUREAGE: 64, PERTHIt has been a y
04 Frank Lowy$8.26 billion2016: $8.26  BILLIONPROPERTYAGE: 86, SYDNEYLowy is close to celebrating the
05 Ivan Glasenberg$6.85 bill ion2016: $3.33 BILLIONRESOURCESAGE: 60, BAAR, SWITZERLANDGIasenberg's 8.
06 Andrew Forrest$6.84 billion2016: $3.33 BILLIONRESOURCESAGE: 55, PERTHFortescue Metal Group's hardf
07 John Gandel$6.1 0 billion2016: $5.40 BILLION PROPERTY, INVESTMENTAGE: 82, MELBOURNEGandel's wealth
08 Hui Wang Mau$6.00 billion2016: $5.39 BILLIONPROPERTYAGE: 66, HONG KONGHui Wing Mau has diversified
09 James Packer$4.75 billion2016: $5.00 BILLION ENTERTAINMENT (GAMING)AGE: 49, SYDNEYIt has been a
t

10 Stan Perron$3.90 billion2016: $2.88 BILLIONPROPERTY, INVESTMENTAGE: 94, PERTHThe oldest billionai

 11 Len Ainsworth &family $3.10 billion2016: $1.92 BILLIONMANUFACTURINGAGE: 93, SYDNEYAinsworth may b


12 Lang Walker$3.00 billion2016: $2.02 BILLIONPROPERTYAGE: 70, SYDNEYWalker Corp's founding chairman


13 Lindsay Fox$2.91 billion2016: $2.49 BILLIONTRANSPORT, PROPERTYAGE: 80, MELBOURNEAs with many Rich


14 Kerry Stokes$2.90 billion2016: $1.71 	BILLIONMEDIAAGE: 76, PERTHWhile Seven West Media has been r


15 Bianca Rinehart$2.74 billion2016: $905 MILLIONRESOURCESAGE: 40, BRISBANERinehart's 26 per cent
s


16 	David Hains &family$2.55 billion2016: $2.48 BILLIONINVESTMENTAGE: 86, MELBOURNEThe Hains family'


17 Mike Cannon-Brookes$2.51 billion2016: $2.00 BILLIONTECHNOLOGYAGE: 37, SYDNEYHaving overseen one o


18 Scott Farquhar$2.51 billion2016: $1.97 BILLIONTECHNOLOGYAGE: 37, SYDNEYFarquhar and Mike Cannon-



19 Solomon Lew$2.38 billion2016: $2.13 BILLIONRETAILAGE: 72, MELBOURNEIt has taken the best part of


20 Jack Cowin$2.38 billion2016: $1.81 BILLIONRETAIL, INVESTMENTAGE: 75, SYDNEYIt has not all been pl


21 Gerry Harvey$2.34 billion2016: $1.99 BILLIONRETAIL, PROPERTYAGE: 77, SYDNEYAn ASIC investigation


22 Marc Besen &family $2.24 billionRE-ENTRYPROPERTY, AGRICULTUREAGE: 93, MELBOURNEBesen joins the
R


23 Alan Rydge$2.09 billion2016: $2.08 BILLIONENTERTAINMENT, HOTELSAGE: 64, SYDNEYOne of Australia's


24 Michael Hintze$1.98 billion2016: $1.32 BILLIONFINANCIAL SERVICESAGE: 63, LONDONAfter a tough 2015


25 Huang Bingwen &family$1.93 billion2016: $1.99 BILLIONMANUFACTURINGAGE: 62, SHANTOU, CHINAHuang, h


26,27 David &Vicky Teoh $1.91 billion2016: $3.08 BILLIONTELECOMMUNICATIONSAGES: 61, 60, SYDNEYThe
w
,

28 Nigel Austin$1.89 billion2016: $1.26 BILLIONRETAILAGE: 47, GEELONGAustin has quietly achieved wha


29 Maurice Alter &family $1.81 billion2016: $1.60 BILLIONPROPERTYAGE: 94, MELBOURNEPolish-born Alter


30 Angela Bennett$1.76 billion2016: $1.61 	BILLION RESOURCES, INVESTMENTAGE: 72, PERTHYet again the


31 John Van Lieshout$1.72 billion2016: $1.68 BILLIONPROPERTYAGE: 71, BRISBANEVan Lieshout is the fou


32 Ye Lipei$1.70 billion2016: $1.52 BILLIONPROPERTYAGE: 73, SHANGHAI, CHINALipei was born in Shangha


33,34 Morry Fraid, Zac Fried$1.60 billion2016: $1.22 BILLIONRETAIL, PROPERTYAGES: 65, 44,
MELBOURNE
,

35 Tony Perich &family $1.59 billion2016: $1.37 BILLION PROPERTY, AGRICULTUREAGE: 76, SYDNEYLeppingt


36, 37 Alexandra Burt &Leonie Baldock$1.56 billion2016: $1.55 BILLIONRESOURCESAGES: 43, 45, PERTHBal
,

38 Chau Chak Wing$1.56 billion2016: $1.37 BILLIONPROPERTY, INVESTMENTAGE: 68, GUANGZHOU, CHINAChau d


39 Bob EII$1.52 billion2016: $1.33 BILLIONPROPERTYAGE: 72, GOLD COASTEII's Leda Holdings is increasi


40 Kerr Neilson$1.44 billion2016: $1.94 BILLION FINANCIAL SERVICESAGE: 67, SYDNEYHe may be Australia


41 Raphael Geminder$1.44 bill ion2016: $1.22 BILLIONMANUFACTURINGAGE: 57, MELBOURNEGeminder's wealth


42 Sam Tarascio$1.43 billion2016: $1.05 BILLIONPROPERTYAGE: 73, MELBOURNETarascio's Salta Properties


43 Manny Stul &family $1.42 billion2016: $1.24 BILLIONRETAILAGE: 68, MELBOURNEStul's business comeba

.44 Brett Blundy$1.39 billion2016: $1.16 BILLIONRETAIL, PROPERTY, AGRICULTUREAGE: 57,  SINGAPOREBIund


45 Judith Neilson$1.34 billion2016: $1.45 BILLIONINVESTMENTAGE: 70, SYDNEYNeilson's wealth has been


46 Alex Waislitz$1.24 billion2016: $1.13 BILLIONINVESTMENTAGE: 59, MELBOURNEFIushed with the success


47 Russell Withers &family $1.23 billion2016: $1.34 BILLIONRETAILAGE: 70, MELBOURNEWithers' formerly


48 Bob Ingham$1.19 billion2016: $1.17 BILLIONINVESTMENT, PROPERTYAGE: 89, SYDNEYIngham's wealth goes


49 Con Makris &family $1.17 billion2016: $1.17 BILLIONPROPERTYAGE: 70, GOLD COASTAfter 45 years buil


50 Reg Rowe$1.14 billion2016: $901 MILLION PROPERTY, RETAILAGE: 73, BRISBANEHe may have made his ini


51 Chris Wallin$1.13 billion2016: $1.22 BILLIONRESOURCESAGE: 65, BRISBANEBrisbane billionaire Chris


52 Chris Thomas$1.12 billion2016: $848 MILLIONAGRICULTUREAGE: 67, ADELAIDEThomas has so far rebuffed


53 Ralph Sarich$1.12 billion2016: $1.11 	BILLION INVESTMENT, PROPERTYAGE: 76, PERTHSarich is chairma


54 Jonathan Munz &family $1.10 billion2016: $1.07 BILLIONMANUFACTURINGAGE: 56, MELBOURNEMunz has
ov


55 Greg Goodman &family $1.08 billion2016: $1.04 BILLIONPROPERTYAGE: 54, SYDNEYGoodman is one
Austr


56 Ron Walker$1.07 billion2016: $1.11 	BILLION PROPERTY, INVESTMENTAGE: 77, MELBOURNEWalker's divers


57 Maha Sinnathamby$1.02 billion2016: $943 MILLIONPROPERTYAGE: 77, BRISBANEFew in property have had


58 Gretel Packer$1.02 billion2016: $739 MILLIONINVESTMENTAGE: 50, SYDNEYPacker joins her brother Jam


59 Terry Snow$1.00 billion2016: $685 MILLIONPROPERTYAGE: 73, CANBERRASnow joins the billionaires tha


60 Peter Gunn$1.00 billion2016: $943 MILLIONINVESTMENT, PROPERTYAGE: 74, MELBOURNEGunn traces his
b


61 	Neville Pask$996 million2016: $954 MILLIONPROPERTYAGE: 86, GOLD COASTThe Pask Group has been ope


62 Tim Roberts$986 millionDEBUTINVESTMENT, AVIATIONAGE: 46, PERTH Roberts' diverse investments inclu


63 Bruce Mathieson$943 million2016: $1.01 BILLIONENTERTAINMENT (GAMING), INVESTMENTAGE: 73,
MELBOUR


64 Paul Little$927 million2016: $874 MILLIONPROPERTYAGE: 69, MELBOURNEHaving made his fortune from b


65 Sandy Oatley &family $913 million2016: $910 MILLIONAGRICULTURE, PROPERTY, TOURISMAGE: 65,
SYDNEY


66 Mick Power$902 million2016: $544 MILLIONCONSTRUCTIONAGE: 67, BRISBANEA road project in Wagga
Wag


67 Richard Smith$891 mill ion2016: $964 MILLIONFOOD SERVICESAGE: 76, MELBOURNERumours are swirling t


68 Richard White$882 million2016: $657 MILLIONTECHNOLOGYAGE: 62, SYDNEYWhite has told the board of



69 Gordon Fu &family$877 million2016: $733 MILLIONPROPERTYAGE: 73, BRISBANEFu's YFG Shopping Centres


70 Nechama Werdiger &family $859 million2016: $789 MILLIONPROPERTY, INVESTMENTAGE: 82,
MELBOURNEThe


71 Chris Morris$847 million2016: $667 MILLIONTECHNOLOGY, PROPERTY, HOTELS, INVESTMENTAGE: 69,
MELBO


72 John Kahlbetzer$841 million2016: $822 MILLIONAGRICULTUREAGE: 86, BUENOS AIRES,
ARGENTINAKahlbetz


73 Paul Lederer &family$824 million2016: $703 MILLION MANUFACTURING, PROPERTYAGE: 70, SYDNEYThe
Led


74 Ashley Williams$823 million2016: $824 MILLIONPROPERTYAGE: 46, MELBOURNEWilliams owns half of
Mel


75 Andrew Roberts$81 9 million DEBUTPROPERTYAGE: 50, SYDNEYRoberts is still active in the property s


76 Brian Flannery$818 million2016: $823 MILLION RESOURCES, PROPERTYAGE: 65, BRISBANEFIannery made
a


77 Jeff Chapman$811 million2016: $784 MILLIONINVESTMENTAGE: 69, MELBOURNE; LONDONChapman made his in


78, 79 Ervin &Charlotte Vidor $804 million2016: $784 MILLION PROPERTY, HOTELSAGES: 84, 82, SYDNEYErv
,

80 Patrick Grove$801 mill ion2016: $587 MILLIONMEDIA, TECHNOLOGY, INVESTMENTAGE: 42, KUALA LUMPUR, M


81 	Lloyd Williams$784 million2016: $790 MILLION PROPERTY, THOROUGHBREDSAGE: 76, MELBOURNEWilliams m


82 Nick Politis$773 million2016: $879 MILLIONRETAIL, PROPERTYAGE: 75, SYDNEYPolitis is one of the ki


83 Peter Scanlon &family $772 million2016: $766 MILLIONINVESTMENTAGE: 72, MELBOURNEScanlon's
invest


84 Rod Duke$751 million2016: $446 MILLIONRETAILAGE: 67, AUCKLAND, NEW ZEALANDDuke's wealth rises in

 85 Larry Kestelman$749 million DEBUTPROPERTY, INVESTMENTAGE: 50, MELBOURNEKestelman has made a splas


86 Theo Karedis$723 million2016: $573 MILLIONPROPERTYAGE: 81, SYDNEYLike many Rich List members, Kar


87 Bruno Grollo &family $720 million2016: $724 MILLIONPROPERTYAGE: 75, MELBOURNEGrocon is awaiting c


88 Shaun Bonett$718 million2016: $545 MILLIONPROPERTYAGE: 46, SYDNEYBonett's Precision Group made it


89 Joy Chambers &family$715 million2016: $858 MILLIONINVESTMENTAGE: 71, BERMUDAChambers is the
wido


90 Jack Bendat$701 million2016: $637 MILLIONINVESTMENTAGE: 92, PERTHBendat saw his beloved Perth
Wi


91, 92 Iris Lustig-Moar &Max Moar $694 million2016: $650 MILLIONPROPERTYAGES: 72, 75, MELBOURNEMax

,
 93, 94 Jina Chen &Alex Wu$686 million2016: $570 MILLIONHEALTHCAREAGES: 57, 63, SYDNEYNature's Care s
,

95 Allan Myers$682 million2016: $671 MILLIONINVESTMENT, AGRICULTURE, PROPERTYAGE: 69,
MELBOURNEKnow


96 Kevin Seymour &family $679 million2016: $641 MILLIONPROPERTYAGE: 76, BRISBANEA new era beckons fo


97 John Symond$673 million2016: $537 MILLION FINANCIAL SERVICESAGE: 69, SYDNEYUnlike many sellers in


98 Travers Duncan$670 million2016: $686 MILLIONRESOURCES, PROPERTYAGE: 84, SYDNEYDuncan has
investe


99 Paul Fudge$663 million2016: $646 MILLIONRESOURCESAGE: 68, SYDNEYEight years after selling a coal


100 Bill James$647 million2016: $722 MILLIONTRAVELAGE: 67, SYDNEYJames continues to reap the rewards

101, 102 Jamuna Gurung &Shesh Ghale $647 million2016: $586 MILLIONEDUCATION, PROPERTYAGES: 55, 59,


103 Harry Stamoulis &family$646 million2016: $626 MILLIONPROPERTYAGE: 49, MELBOURNEProperty develope
 104 Kerry Harmanis$640 million2016: $622 MILLIONRESOURCESAGE: 69, PERTHThe former barrister made his

105 Greg Poche$638 million2016: $629 MILLIONINVESTMENTAGE: 75, SYDNEYPoche sold his freight-trucking

106 Geoff Harris$637 million2016: $740 MILLIONTRAVEL, INVESTMENTAGE: 65, MELBOURNEGeoff Harris owns
 107 Bruce Gordon$629 million2016: $990 MILLIONMEDIA, INVESTMENTAGE: 88, BERMUDA, WOLLONGONGThe owner

108 Graham Turner$620 million2016: $707 MILLIONTRAVELAGE: 67, BRISBANETurner is still going strong a

109 Christian Beck$619 million2016: $414 MILLIONTECHNOLOGYAGE: 48, SYDNEYTechnology firm InfoTrack h

110 John Simpson$614 million2016: $477 MILLIONPROPERTYAGE: 87, PERTHSimpson's Corry Lyn Group owns p

111 	Zig Inge &family$611 million2016: $591 	MILLIONPROPERTYAGE: 91, MELBOURNEInge has been diversif

112 Mark Creasy$61 0 million2016: $463 MILLIONRESOURCESAGE: 72, PERTHCreasy keeps looking for the ne
 113 Mary Fairfax$597 million2016: $562 MILLIONPROPERTYAGE: 94, SYDNEYLady Fairfax is the third wife

114,115 Ben Richardson &David Greiner $593 million2016: $543 MILLIONTECHNOLOGYAGE: 38, 39, SYDNEYThe

116 Terry Peabody$587 million2016: $584 MILLIONINVESTMENTAGE: 77, BRISBANEPeabody's vineyard in the

117 Naomi Milgrom$585 million2016: $582 MILLIONRETAILAGE: 64, MELBOURNERumours are rife that Milgrom

118 Spiros Alysandratos$582 million2016: $361 MILLIONTRAVELAGE: 78, MELBOURNEThough he keeps a low p

119 Kim McKendrick &family $582 millionDEBUTMANUFACTURINGAGE: 59, MELBOURNERudyard "Kim"
McKendrick

120,121 Andrew &Michael Buxton $579 million2016: $394 MILLIONPROPERTYAGE: 63, 72, MELBOURNEMichael a

122 Andrew Abercrombie$574 million2016: $610 MILLIONFINANCIAL SERVICESAGE: 61,
MELBOURNEAbercrombie

123 Chris Ellison$574 million2016: $413 MILLIONRESOURCESAGE: 59, PERTHThe share price of Ellison's i
 124 George Kepper$563 million2016: $538 MILLIONTECHNOLOGYAGE: 80, MELBOURNEKepper's Mooroolbark Inve

125 Max Beck$562 million2016: $423 MILLIONPROPERTYAGE: 75, MELBOURNEBeck's wealth increases thanks t

126 Chris Mackay$560 million2016: $604 MILLION FINANCIAL SERVICESAGE: 54, SYDNEYMackay gained
share

127 Leon Kamenev$558 million2016: $539 MILLIONTECHNOLOGYAGE: 59, SYDNEYIn contrast to his shy nature

128 Mario Verrocchi$558 million2016: $380 MILLIONHEALTHCAREAGE: 59, MELBOURNEThe relentless expansio

129 Ian Roberts$557 million2016: $595 MILLION HEALTHCARE, INVESTMENTAGE: 61, MELBOURNERoberts and lo

130 Nigel Satterley$551 million2016: $374 MILLIONPROPERTYAGE: 69, PERTHProperty developer Satterley

131 	Jack Gance$546 million2016: $391 MILLIONHEALTHCAREAGE: 71, MELBOURNEThe My Chemist Retail Group

132 Frank Costa &family $538 million2016: $352 MILLIONAGRICULTURE, PROPERTYAGE: 79, GEELONGCosta has

133 Hamish Douglass$531 million2016: $505 MILLION FINANCIAL SERVICESAGE: 48, SYDNEYDouglass has ever

134 Paul Blackburne$530 million2016: $536 MILLIONPROPERTYAGE: 41, PERTHThe Perth property developer

135 Nick DiMauro$530 million2016: $452 MILLIONPROPERTYAGE: 63, ADELAIDEIt is now clear why DiMauro h

136 Marcus Blackmore$529 million2016: $786 MILLIONHEALTHCAREAGE: 72, SYDNEYThe glory days would seem

137 Grahame Mapp$523 million2016: $430 MILLIONINVESTMENTAGE: 81, SYDNEYMapp is one of the perennial

138 Bryan Dorman$520 million2016: $600 MILLION HEALTHCARE, INVESTMENTAGE: 64, MELBOURNEDorman's son

139 Peter Cooper$507 million2016: $482 MILLIONFINANCIAL SERVICESAGE: 57, MELBOURNECooper is one of


140, 141 Bill &Imelda Roche $504 million2016: $485 MILLIONPROPERTYAGE: 81, 82, SYDNEYProperty owner

142 Robert Magid$499 million2016: $489 MILLIONPROPERTYAGE: 75, SYDNEYMagid owns property developer


143 Kevin Maloney$499 million2016: $485 MILLIONMINING SERVICESAGE: 70, SYDNEYMaloney made his fortun

144,145 Diana &Rino Grollo $493 miIlion2016: $461 MILLIONPROPERTYAGES: 68, 69, MELBOURNEThe $100
mi
 146 Evan Acton &family $490 million2016: $525 MILLIONAGRICULTUREAGE: 64, ROCKHAMPTONActon and his fa

147 Jonathan Hallinan$490 million2016: $459 MILLIONPROPERTYAGE: 41, MELBOURNEHallinan is one of seve

148 Michael Boyd$488 million2016: $418 MILLIONHEALTHCAREAGE: 52, MELBOURNEThough Boyd's wealth is
m

149 Gordon Martin &family $484 million2016: $462 MILLION MANUFACTURINGAGE: 73, PERTHMartin is execut
 150 John Higgins$484 million2016: $460 MILLION INVESTMENT, COMMERCIAL PAINTINGAGE: 62,  MELBOURNEThe

151 	Tony Wales$483 million2016: $403 MILLIONINVESTMENTAGE: 72, SYDNEYThere have been good and bad t
 152 Greg Coffey$482 million2016: $552 MILLIONFINANCIAL SERVICESAGE: 46, LONDONIt has been five years
 153 Tony Poli$482 million2016: $456 MILLIONPROPERTYAGE: 58, PERTHPoli, who started out as an account

154 Yenda Lee &family $482 million2016: $382 MILLIONRETAILAGE: 82, SYDNEYThe Lee family's wealth is

155 David Paradice$479 million2016: $337 MILLIONFINANCIAL SERVICESAGE: 58, DENVER, UNITED STATESIt's

156 Dale Elphinstone$475 million2016: $541 MILLIONRETAIL, INVESTMENTAGE: 66, BURN IEElphinstone Grou

157 Tim Gurner$473 million2016: $460 MILLIONPROPERTYAGE: 35, MELBOURNEGurner suffered a setback in


158 Gerry Ryan$473 million2016: $370 MILLIONMANUFACTURINGAGE: 66, MELBOURNESales for Ryan's Jayco
c

159 Bruce Neill$472 million2016: $491 MILLIONFINANCIAL SERVICESAGE: 69, HOBARTNeill is one of the lo

160 Timothy Kentley-Klay$470 million DEBUTTECH N OLOGYAG E: 42, SAN FRANCISCOKentley-Klay is one of
 161 Alf Moufarrige$467 million2016: $511 MILLIONPROPERTYAGE: 76, SYDNEYServcorp's shares have fallen

162,163 Tony &Christina Quinn $465 million2016: $411 MILLIONRETAILAGES: 59, 59, GOLD COASTTony Quinn

164 Graham Tuckwellwell$462 million2016: $559 MILLIONFINANCIAL SERVICESAGE: 60, JERSEYCanberra-born

165 Tony Haggarty$462 million2016: $422 MILLIONRESOURCESAGE: 59, SYDNEYCoal prices are up, meaning

 166,167 $454 million2016: $594 MILLION ENTERTAINMENTAGES: 69, 65, MELBOURNEJohn and Robert Kirby's w

168 Bob Rose$454 million2016: $448 MILLIONPROPERTYAGE: 76, LONDONWhile he now lives in London, Rose

169 Steven Kalmin$454 millionRE-ENTRYRESOURCESAGE: 46, BAAR, SWITZERLANDKalmin returns to the Rich


170 Laurie Sutton$453 million2016: $430 MILLIONRETAILAGE: 75, SYDNEYRumours are rife that Sutton has

171 	Hilton Nathanson$451 million2016: $421 MILLION FINANCIAL SERVICESAGE: 47, LONDONIt may be a whi

172 John Singleton$450 million2016: $416 MILLIONMEDIA, INVESTMENTAGE: 75, SYDNEYSingleton is best
k

173 Danny Hill$447 million2016: $391 MILLIONPROPERTYAGE: 74, MONACOHiII may live in Monaco now, but

174 Robert Whyte$446 million2016: $433 MILLIONINVESTMENTAGE: 73, SYDNEYWhyte's Audant investments ha

175 Dick Honan$440 million2016: $483 MILLIONAGRICULTUREAGE: 77, SYDNEYHonan has denied suggestions


176 Sam Chong$440 million2016: $328 MILLION RESOURCES, PROPERTYAGE: 74, BRISBANEConstruction is unde

177 Barry Lambert$437 million2016: $389 MILLIONFINANCIAL SERVICESAGE: 70, SYDNEYLambert's push for


178 Jamie Pherous$432 million2016: $306 MILLIONTRAVELAGE: 48, BRISBANEAir fares may be falling and t

179 Doug Shears$413 million2016: $369 MILLIONAGRICULTUREAGE: 66, RWANDAShears' diverse investments


180 Seumas Dawes$412 million2016: $408 MILLIONFINANCIAL SERVICESAGE: 60, SYDNEYDawes would surely
h

181 Arthur Laundy$412 million2016: $308 MILLIONPROPERTYAGE: 76, SYDNEYMore pubs equal more wealth fo

182 Daniel Tartak &family $407 millionDEBUTWASTE MANAGEMENTAGE: 31, SYDNEYTartak oversaw one of the

183 Trevor Lee$407 million2O16: $515 MILLIONAGRICULTUREAGE: 67, BRISBANELee is principal of Australi
 184 Patricia Ilhan$404 million2O16: $383 MILLIONINVESTMENTAGE: 53, MELBOURNEIIhan put family ahead o

185 Rod Jones$403 million2O16: $367 MILLIONEDUCATIONAGE: 69, PERTHJones is at the forefront of the p

186 Peter Hughes &family $391 million2O16: $328 MILLIONAGRICULTUREAGE: 66, TIERAWOOMBA,
QUEENSLANDH

187 Alan Tribe$375 million2O16: $404 MILLIONRETAILAGE: 68, PERTHIt took the best part of a decade, b
 188 Clive Berghofer$374 million2016: $374 MILLIONPROPERTYAGE: 82, TOOWOOMBA, QUEENSLANDBerghofer has

189 Craig Winkler$374 million2016: $363 MILLIONSOFTWAREAGE: 53, MELBOURNEWinkler invested in
mypros

190 Joe Catalfamo$373 mill ion2016: $366 MILLIONAGRIBUSINESSAGE: 69, MELBOURNECatalfamo is still mak
 191 Radek Sali$372 million2016: $355 MILLIONHEALTHCARE, INVESTMENTAGE: 40, MELBOURNESali can hardly

192 Harold Mitchell$370 million2016: $388 MILLIONINVESTMENTAGE: 75, MELBOURNEMitchell is focusing
l

193 Ori Allon$364 millionDEBUTTECHNOLOGYAGE: 37, NEW YORKAIIon graduates from the Young Rich to the

194 Tony Denny$355 million2016: $333 MILLIONRETAIL, PROPERTYAGE: 66, GOSFORD, NSWHaving made his
fo

195 John Kinghorn$353 million2016: $348 MILLION FINANCIAL SERVICESAGE: 75, SYDNEYThe Kinghorn
Found

196 Gordon Merchant$350 million2016: $348 MILLIONMANUFACTURINGAGE: 73, GOLD COASTMerchant is still t

197 Nicole Kidman$347 million2016: $338 MILLIONENTERTAINMENTAGE: 49, NASHVILLE, USKidman's march
to

198 Clive Palmer$344 million2016: $570 MILLIONRESOURCESAGE: 64, GOLD COASTPalmer maintains his place

199 George Koukis$342 million2016: $336 MILLIONTECHNOLOGYAGE: 70, GENEVA, SWITZERLANDMore
regulatio

200 Owen Kerr$342 millionDEBUTFINANCIAL SERVICESAGE: 33, MELBOURNELast year was a bumper one for
Ke

In [8]:
bios = []
between.append(len(file))
for i in range(len(between)-1):
    bios.append(file[between[i]:between[i+1]])

In [75]:
results = pd.DataFrame(columns = ["Rankings", "Name", "2017 Wealth", "2016 Wealth", "Sector", "Age", "Location", "Additional Text"], index = [i for i in range(len(bios))])

for a,i in enumerate(bios):
    comma = False
    if i[2] == "," or i[3] == ",":
        comma = True
    if i[0].isnumeric() and not i[1].isnumeric():
        results.loc[a, "Rankings"] = i[0]
        results.loc[a, "Name"] =''.join([i for i in  i[2:i.find("$")] if not i.isdigit()]).replace(',', '')
    elif i[:3].isnumeric():
        results.loc[a, "Rankings"] = i[:3]
        results.loc[a, "Name"] = ''.join([i for i in i[3:i.find("$")] if not i.isdigit()]).replace(',', '')
    elif i[:2].isnumeric():
        results.loc[a, "Rankings"] = i[:2]
        results.loc[a, "Name"] = ''.join([i for i in i[2:i.find("$")] if not i.isdigit()]).replace(',', '')
        
    new1 = i[i.find("$"):]
    x = new1[:new1.find("n")+1].replace(" ", "")
    if x[1:6].replace(".", "").isnumeric():
        results.loc[a, "2017 Wealth"] = int(float(x[1:6]) * 1000)
    elif x[1:5].replace(".", "").isnumeric():
        results.loc[a, "2017 Wealth"] = int(float(x[1:5]) * 1000)
    elif x[1:4].replace(".", "").isnumeric():
        results.loc[a, "2017 Wealth"] = int(float(x[1:4]))
        
    new1 = new1[1:]
    new2 = new1[new1.find("$"):]
    x = new2[:new2.find("N")+1].replace(" ", "")
    if x[1:6].replace(".", "").isnumeric():
        results.loc[a, "2016 Wealth"] = int(float(x[1:6]) * 1000)
    elif x[1:5].replace(".", "").isnumeric():
        results.loc[a, "2016 Wealth"] = int(float(x[1:5]) * 1000)
    elif x[1:4].replace(".", "").isnumeric():
        results.loc[a, "2016 Wealth"] = int(float(x[1:4]))
    
    new3 = new2[new2.find("N"):]
    if "DEBUT" in i:
        new3 = i.replace(" ", "")
        new3 = new3[new3.find("DEBUT")+5:new3.find("AGE:")].replace(",", ", ").replace("FINANCIALSERVICES", "FINANCIAL SERVICES")
    elif "RE-ENTRY" in i:
        new3 = i.replace(" ", "")
        new3 = new3[new3.find("RE-ENTRY")+8:new3.find("AGE:")].replace(",", ", ").replace("FINANCIALSERVICES", "FINANCIAL SERVICES")
    else:
        new3 = new3[1: new3.find("AGE:")]
        if new3.find("AGES:") != -1:
            new3 = new3[: new3.find("AGES:")]
    results.loc[a, "Sector"] = new3
    
    new4 = i
    if "DEBUT" in i:
        new4 = i[i.find("DEBUT")+5:]
    elif "RE-ENTRY" in i:
        new4 = i[i.find("RE-ENTRY")+8:]
    else:
        new4 = new2[new2.find("N"):]
    
    new4 = new4[new4.find("AGE"):]
    new4 = new4[new4.find(":")+2:]
        
    if comma:
        new5 = new4[: new4.find(",", 4, 10)]
    else:
        new5 = new4[: new4.find(",")]
    results.loc[a, "Age"] = new5
    

    if comma:
        new4 = new4[new4.find(",", 4, 10)+2:].strip()
    else:
        new4 = new4[new4.find(",")+2:].strip()
    new = False

    
    for d,e in enumerate(new4):
        if e == ",":
            new = True
        elif new:
            new = False
        elif not (e.isupper()):
            new6 = new4[:d-1]
            new7 = new4[d-1:]
            break
            
            
    results.loc[a,"Location"] = new6
    
    if new7.find("FULL TEXT") != -1:
        new7 = new7[new7.find("FULL TEXT")+9:]
        new7 = new7[new7.find("AGE") +12:]
    if new7.find("PDF GENERATED") != -1:
        new8 = new7[:new7.find("\n\n")]
        new8 = new8[:new8.find("PDF GENERATED")]
        new7 = new7[new7.find("Page"):]
        new7 = new7[new7.find("\n\n")+4:]
        new7 = "".join([new8,new7])
    if new7.find("ABSTRACT (ENGLISH)") != -1:
        new7 = new7[:new7.find("DETAILS")]
        new7 = new7[:new7.find("ProQuest")]
    if new7.find("Publication subject") != -1:
        new7 = new7[:new7.find("Publication subject")]
    if new7.find("PDFGENERATED") != -1:
        new8 = new7[:new7.find("\n\n")]
        new8 = new8[:new8.find("PDFGENERATED")]
        new7 = new7[new7.find("Page"):]
        new7 = new7[new7.find("\n\n")+4:]
    if new7.find("PROQUEST.COM") != -1:
        new8 = new7[:new7.find("\n\n")]
        new8 = new8[:new8.find("PROQUEST.COM")-10]
        new7 = new7[new7.find("Page"):]
        new7 = new7[new7.find("\n\n")+4:]
        
    results.loc[a, "Additional Text"] = new7


    
        
    

results

,Rankings,Name,2017 Wealth,2016 Wealth,Sector,Age,Location,Additional Text
0,1,Anthony Pratt &family,12600,10350,MANUFACTURING,57,MELBOURNE,BOURNEPratt tops the Financial Review Rich Lis...
1,2,Harry Triguboff,11450,10620,PROPERTY,84,SYDNEY,Triguboff's Meriton property development group...
2,3,Gina Rinehart,10410,6060,"RESOURCES, AGRICULTURE",64,PERTH,It has been a year of constant movement for Ri...
3,4,Frank Lowy,8260,8260,PROPERTY,86,SYDNEY,Lowy is close to celebrating the 60th annivers...
4,5,Ivan Glasenberg,6850,3330,RESOURCES,60,"BAAR, SWITZERLANDG",Iasenberg's 8.4 per cent stake in the world's ...
...,...,...,...,...,...,...,...,...
182,196,Gordon Merchant,350,348,MANUFACTURING,73,GOL,D COASTMerchant is still trying to resurrect t...
183,197,Nicole Kidman,347,338,ENTERTAINMENT,49,"NASHVILLE, US",Kidman's march \ntowards the top echelon of Ho...
184,198,Clive Palmer,344,570,RESOURCES,64,GOL,D COASTPalmer maintains his place on the Rich ...
185,199,George Koukis,342,336,TECHNOLOGY,70,"GENEVA, SWITZERLAND",More \nregulation for banks and financial serv...
186,200,Owen Kerr,342,NaN,FINANCIAL SERVICES,33,MELBOURNE,Last year was a bumper one for \nKerns foreign...

In [78]:
for i in results.index:
    results.loc[i, "Name"] = results.loc[i, "Name"].strip()
    results.loc[i, "Sector"] = results.loc[i, "Sector"].strip()
    results.loc[i, "Location"] = results.loc[i, "Location"].strip()
    results.loc[i, "Additional Text"] = results.loc[i, "Additional Text"].strip()

In [79]:
results.to_csv("2017 data.csv", index = None)

In [14]:
results.loc[40]

Rankings                                                          44
Name                                                    Brett Blundy
2017 Wealth                                                     1390
2016 Wealth                                                     1160
Sector                                 RETAIL, PROPERTY, AGRICULTURE
Age                                                               57
Location
SINGAPOREBIundy, chairman of investment compa...
Additional Text                                                   \n
Name: 40, dtype: object

'adda'