**Intro to Python notebook **

In this notebook we are going to cover variables, data types, loops, if statements, functions, and much more.

First, though we are going to start with comments.

In [ ]:
#To comment in Python, just use the hashtag. 
#Any letters or words that come after a hashtag do not execute when you run python

Make a comment below:

In [ ]:
"""
To make a multi-line comment, you start it with three quotes
as well as end it with three quotes. This is also a multiline string, but
if you don't assign a string to a variable, python just ignores
it while running
"""

Make a multiline comment below

A variable is created the moment you first assign a value to it. Variables do not need to be declared with any particular type, and can even change type after they have been set. They simply name a name on the right of the equal signs, the equal sign (only one) and the value on the left.

In [ ]:
x = 5
print(x)
x = "John"
print(x)

Below: create a variable y. Assign the variable to the value 6 and print the value out. Then, reassign it to the string "Hello World!" and print it out as well.

If you want to specify the data type of a variable, this can be done with casting. Strings are basically words you don't want to be variables. Integers are numbers without decimals and floats are numbers with decimals.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Below, make a new variable a and make it hold the string version of 5 (using casting).

You can get the data type of a function using the type() function

In [ ]:
print(type(str(5)))
print(type(5))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Below, assign x, y, and z to 1, 2, and 3.

1
2
3

And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

You can assign a multiline string to a variable by using three quotes (or three single quotes):

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
'''
This can be a multiline
comment if not assigned to a variable
'''

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

To get the characters from position 2 to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[2:5])

Below, slice b from position 3 to position 8 (not included):

By leaving out the end index, the range will go to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

Use negative indexes to start the slice from the end of the string:

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

Below, slice b from position -8 to position -2

Almost everything in Python is an object. Every object has certain attributes and methods. The connection between the attributes or the methods with the object is indicated by a “dot” (”.”) written between them. Strings are objects, so we can perform certain methods on the string or get certain attributes by using the "."

To make a string go to all uppercase:

In [ ]:
print("Hello World!".upper())
a = "Hello"
print(a.upper())

HELLO WORLD!
HELLO

Below, make the string "WOrld" go to all lowercase using the .lower() method

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

One of the most useful string methods is the replace() method. The replace() method replaces a string with another string. This can be a letter, word, phrase, really any string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Below, replace every "o" in variable a with a "w".

The split() method returns a list where the text between the specified parameter becomes the list items.

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
b = "Hello World!"
print(b.split(" ")) # returns ['Hello', 'World!'] - this time splitting on the space

['Hello', ' World!']
['Hello', 'World!']

Split the string "Jupyter Notebook" on every o.

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

Assign x to "Jupyter" and y to "Notebook" and print out the combination of both variables below:

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called "Vikings" from the north."

To fix this problem, use the escape character \":

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

Go to this website: https://www.w3schools.com/python/python_strings_escape.asp

And use 3 new escape characters in a string below. Print out that string:

Go to the website: https://www.w3schools.com/python/python_strings_methods.asp

And try out 3 new string methods and print out the results below:

To get the length of the stirng put the string in the len() method - this isn't a string method or attribute, so don't use "."

In [ ]:
print(len("Hello"))

5

Below, assign "Hello World!" to a and get the length of a

Now, we are going to switch are focus from Strings to Booleans. Booleans represent one of two values: True or False.

In [ ]:
a = True
print(a)

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

When you run a condition in an if statement, Python returns True or False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

We will talk about if statements later in the notebook.

Some Python operators to note is that % is modulus and ** means to the power

In [ ]:
print(13%5)
print(5**2)
print(5**3)

Below get what 5 to the power of 10 is

Also, you will use logical operators and, or, not very frequently.

- and Returns True if both statements are true	
- or Returns True if one of the statements is true
- not Reverse the result, returns False if the result is true

In [ ]:
print(5==5 and 5==4)
print(5==5 or 5==4)
print(not 5==5)
print(5==5 and not 5==4)

False
True
False
True

Lists are used to store multiple items in a single variable. Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"] #duplicats present
print(thislist)

To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

A list can contain different data types:

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

It is also possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

Create a list with 3 different datatypes below:

List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1]) #Prints the second item of the list

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

Create a list of 6 numbers and return the number at the second position and the number at the second to last position.

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

By leaving out the start value, the range will start at the first item:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:]

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

Below print out every element in thislist from the first to fifth position.

To determine if a specified item is present in a list use the in keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print("apple" in thislist)

True

Using code, check to see if "grape" is in thelist below:

To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

Below, change the second item of thislist to another word.

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

Below, change items 2 through 4 in thislist to another fruit.

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

Below replace the second item with 3 new fruits.

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

Below, add another fruit to thelist.

To append elements from another list to the current list, use the extend() method. This adds the second list to the end of the first list.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Below create two lists and append all the items from one list to the end of the other.

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

The remove() method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

Remove apple from the thislist:

The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

Below, remove the first item of thislist

The clear() method empties the list. The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

There are a bunch more list methods here: https://www.w3schools.com/python/python_lists_methods.asp

Below, use two of them:

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc. Since tuples are indexed, they can have items with the same value:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

To determine how many items a tuple has, use the len() function:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

A tuple can contain different data types:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

Below, create a tuple:

You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

You can access tuple items the exact same way as list. All the methods we used for lists above, also can be used for tuples

Below, use negative indexing to access items in a tuple you created.

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

Below, remove the third item in tuple x, using the same method as above.

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

Make two tuples below and join them.

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Python has two built-in methods that you can use on tuples. You can find them here: https://www.w3schools.com/python/python_tuples_methods.asp

Below, use one of the tuple methods:

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

To determine how many items a set has, use the len() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

A set can contain different data types:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

You cannot access items in a set by referring to an index or a key. But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword. We will look through this later when we introduce loops.

To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

Add another fruit to thisset below:

To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

Below, combine two sets:

To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

Remove another item from thisset below:

The clear() method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

Note that there are two versions, one with and without update of the previous two methods. The update methods will replace an existing set, while the the non-update methods will create a new set.

Use one of the methods above below:

Below, use two other methods for sets (found here: https://www.w3schools.com/python/python_sets_methods.asp    )

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
print(thisdict["brand"])

Duplicate values will overwrite existing values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

Below, create another dictionary and access an item from it.

You can change the value of a specific item by referring to its key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

To determine how many items a dictionary has, use the len() function:

In [ ]:
print(len(thisdict))

The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

There is also a method called get() that will give you the same result as indexing.

In [ ]:
x = thisdict.get("model")

The keys() method will return a list of all the keys in the dictionary.

In [ ]:
x = thisdict.keys()

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

The values() method will return a list of all the values in the dictionary.

In [ ]:
x = thisdict.values()

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

The items() method will return each item in a dictionary, as tuples in a list.

In [ ]:
x = thisdict.items()

To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Create a dictionary below, and print out all of the keys in the dictionary.

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

The pop() method removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The clear() method empties the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy(). THIS IS THE SAME FOR LISTS!

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Or, if you want to add three dictionaries into a new dictionary:

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

Below, create a dictionary. Copy it (using the .copy() method) and then add a dictionary as one of the values to the copied dictionary.

Here is a list of dictionary methods: https://www.w3schools.com/python/python_dictionaries_methods.asp

Use 1 new method in the space below:

Python supports the usual logical conditions from mathematics:

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose. If statement, without indentation (will raise an error):

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

Below, create two variable, compare them using a logical operator in an if, elif, else statement. After each if, elif, and else, print out a different phrase.

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a > b: print("a is greater than b")

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

Here is some review from earlier in the notebook:

The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Below, create your own nested if.

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

Python has two primitive loop commands:

- while loops
- for loops

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

Create your own while loop, printing out every number from 1 to 15. After the loop runs, use an else statement to print another phrase.

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "banana":
  print(x)

The break and continue statements work the same in for loops as they do in while loops.

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
for x in range(2, 30, 3):
  print(x)

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

Note: The else block will NOT be executed if the loop is stopped by a break statement.

A nested loop is a loop inside a loop.

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

Create your own nested for loop below, printing every 2 number combination of [1, 2, 3], [8, 9, 10, 11] (taking one number from the first list and one from the second).

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [1]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Below, create your own function with a parameter and call the function:

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

In [ ]:
newlist = [x for x in fruits if x != "apple"]

he condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [ ]:
newlist = [x for x in fruits]

The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
newlist = [x for x in range(10)]

Same example, but with a condition:

In [ ]:
newlist = [x for x in range(10) if x < 5]

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
newlist = [x.upper() for x in fruits]

You can set the outcome to whatever you like:

In [ ]:
newlist = ['hello' for x in fruits]

Below, use list comprehension to create a new list of anything you want.

Now that we understand base python, lets get into some exercises.

Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.


- near_hundred(93) → True
- near_hundred(90) → True
- near_hundred(89) → False


We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.


- parrot_trouble(True, 6) → True
- parrot_trouble(True, 7) → False
- parrot_trouble(False, 6) → False

In [ ]:
def parrot_trouble(talking, hour):
  #Write code here

Given a string and a non-negative int n, return a larger string that is n copies of the original string.


- string_times('Hi', 2) → 'HiHi'
- string_times('Hi', 3) → 'HiHiHi'
- string_times('Hi', 1) → 'Hi'

Given a list of ints, return True if the sequence of numbers 1, 2, 3 appears in the list somewhere.


- array123([1, 1, 2, 3, 1]) → True
- array123([1, 1, 2, 4, 1]) → False
- array123([1, 1, 2, 1, 2, 3]) → True

Given 3 int values, a b c, return their sum. However, if one of the values is 13 then it does not count towards the sum and values to its right do not count. So for example, if b is 13, then both b and c do not count.


- lucky_sum(1, 2, 3) → 6
- lucky_sum(1, 2, 13) → 3
- lucky_sum(1, 13, 3) → 1

We want make a package of goal kilos of chocolate. We have small bars (1 kilo each) and big bars (5 kilos each). Return the number of small bars to use, assuming we always use big bars before small bars. Return -1 if it can't be done.


- make_chocolate(4, 1, 9) → 4
- make_chocolate(4, 1, 10) → -1
- make_chocolate(4, 1, 7) → 2


Return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.


- count_code('aaacodebbb') → 1
- count_code('codexxcode') → 2
- count_code('cozexxcope') → 2

Return True if the string "cat" and "dog" appear the same number of times in the given string.


- cat_dog('catdog') → True
- cat_dog('catcat') → False
- cat_dog('1cat1cadodog') → True

Return the number of even ints in the given array. Note: the % "mod" operator computes the remainder, e.g. 5 % 2 is 1.


- count_evens([2, 1, 2, 3, 4]) → 3
- count_evens([2, 2, 0]) → 3
- count_evens([1, 3, 5]) → 0

Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.


- has22([1, 2, 2]) → True
- has22([1, 2, 1, 2]) → False
- has22([2, 1, 2]) → False

More advanced problems:

The prime 41, can be written as the sum of six consecutive primes:

41 = 2 + 3 + 5 + 7 + 11 + 13

This is the longest sum of consecutive primes that adds to a prime below one-hundred.

The longest sum of consecutive primes below one-thousand that adds to a prime, contains 21 terms, and is equal to 953.

Which prime, below 100,000, can be written as the sum of the most consecutive primes?

145 is a curious number, as 1! + 4! + 5! = 1 + 24 + 120 = 145.

Find the sum of all numbers which are equal to the sum of the factorial of their digits.

Note: As 1! = 1 and 2! = 2 are not sums they are not included.

The sequence of triangle numbers is generated by adding the natural numbers. So the 7th triangle number would be 1 + 2 + 3 + 4 + 5 + 6 + 7 = 28. The first ten terms would be:

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

Let us list the factors of the first seven triangle numbers:

- 1: 1
- 3: 1,3
- 6: 1,2,3,6
- 10: 1,2,5,10
- 15: 1,3,5,15
- 21: 1,3,7,21
- 28: 1,2,4,7,14,28

We can see that 28 is the first triangle number to have over five divisors.

What is the value of the first triangle number to have over one hundred divisors?